# Python dependencies for the Pollen ETL project
# These are also installed on Databricks clusters via init script
cdsapi
pygrib
pandas
azure-storage-blob

# for type hints locally
pyspark~=3.5.0
databricks-sdk~=0.9.0
