# Python dependencies for the Pollen ETL project
# NOTE: another req file in ./api

# For notebooks
# These are also installed on Databricks clusters via init script
cdsapi
pygrib
pandas
azure-storage-blob

# For notebooks type hints locally
pyspark~=3.5.0
databricks-sdk~=0.9.0


