# Python dependencies for the Pollen ETL project
# These are also installed on Databricks clusters via init script
cdsapi
pygrib
pandas
azure-storage-blob

# for type hints locally
pyspark-stubs
databricks-sdk
